.navbar-belt {
    background-color: #f2f8fd; 
    color: #001E60;
    height: 40px;
    padding: 1.2rem 1rem 0 1rem;
    font-size: 1.1rem;
}

.components {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.components div {
  /* margin: 0 15px; */
  /* font-weight: bold; */
  cursor: pointer;
  position: relative;
}

/* .components div:hover {
  border-bottom: 2px solid black;
} */

.allMenu {
  display: flex;
  cursor: pointer;
}

.allMenu  div:hover {
  border-bottom: 2px solid black;
  font-weight: 600;

}