.upper-footContent p,
.middle-footContent ul,
.lower-footContent p {
  margin: 0;
  /* padding: 0; */
}

.upper-footContent {
    background-color: #f2f8fd;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 80px;
}

.feedback {
    padding-top: 20px;
    font-weight: 200;
    &:hover {
        text-decoration: underline;
        font-weight: 600;
    }
}

.feedbackButton {
    background-color: white;
    border-radius: 20px;
    margin-bottom: 25px;
    margin-top: 5px;
    cursor: pointer;
    &:hover {
        background-color: #0071ce;
    }
}

.middle-footContent {
    background-color: #0071ce;
    color: white;
    margin: 0;
    height: 80px;
    padding-top: 0.5rem;  /* reduce padding */
    padding-bottom: 0.5rem;
}

ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    padding: 1rem 1.5rem 1.5rem 1.5rem;
    margin-left: 5px;
}

li {
    margin-left: 0.5rem;
    cursor: pointer;
    font-weight: 300;
    padding-left: 8px;
    &:hover {
        text-decoration: underline;
    }
}

/* .middle-footContent ul li {
  padding: 2px 8px
} */


.lower-footContent {
    display: flex;
    justify-content: center;
    font-size: 12px;
    height: 10%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}